<mat-card class="custom-card">
    <mat-card-header>
        <mat-card-title>Editar producto</mat-card-title>
      </mat-card-header>
    
      <mat-card-content>
        <form [formGroup]="plantaForm" (ngSubmit)="confirmEdit()">
          <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre" maxlength="100" required>
            <mat-error *ngIf="plantaForm.get('nombre')?.hasError('required')">El campo nombre es obligatorio</mat-error>
          </mat-form-field>
    
          <mat-form-field appearance="fill">
            <mat-label>Descripción</mat-label>
            <input matInput formControlName="descripcion" maxlength="255" required>
            <mat-error *ngIf="plantaForm.get('descripcion')?.hasError('required')">El campo descripción es obligatorio</mat-error>
          </mat-form-field>
    
          <mat-form-field appearance="fill">
            <mat-label>Stock</mat-label>
            <input matInput formControlName="stock" maxlength="255" required>
            <mat-error *ngIf="plantaForm.get('stock')?.hasError('required')">El campo stock es obligatorio</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Precio</mat-label>
            <input matInput formControlName="precio" maxlength="255" required>
            <mat-error *ngIf="plantaForm.get('precio')?.hasError('required')">El campo precio es obligatorio</mat-error>
          </mat-form-field>
    
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="!plantaForm.valid" (click)="confirmEdit()">Guardar</button>
        <button mat-button color="primary" (click)="onNoClick()">Cancelar</button>
      </mat-card-actions>
    
