body {
  background-color: #4caf50; /* Verde */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  background-color: #4caf50;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b0b0b0; /* Gris */
  color: white;
  padding: 1rem;
}

.logo {
  flex-shrink: 0;
}

.nav-user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.username {
  color: black;
}

.logo-img {
  height: 50px;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
}

.nav-list li {
  cursor: pointer;
  font-weight: bold;
}

.nav-buttons {
  display: flex;
  gap: 1rem;
}

.card {
  max-width: 1000px;
  margin: 20px auto;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header-title {
  margin: 0;
}

.add-button {
  background-color: #e91e63; /* Rosa */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #c2185b; /* Rosa más oscuro al pasar el ratón */
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.table-responsive {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  background-color: #f1f1f1;
}

.table th, .table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .nav-list {
    flex-direction: column;
    gap: 0.5rem;
  }
}

.product-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #4caf50;
}

.footer {
  width: 100%;
  background-color: #b0b0b0; /* Gris */
  color: white;
  text-align: center;
  padding: 1rem 0;
  margin-top: auto;
}

.table-responsive {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.table th {
  background-color: #f2f2f2;
}

button.mat-raised-button {
  background-color: #e91e63; /* Rosa */
  color: white;
}

button.mat-raised-button:hover {
  background-color: #c2185b; /* Rosa más oscuro al pasar el ratón */
}
