<body>
  <div class="container">
    <nav class="navbar">
      <div class="logo">
        <img src="../../assets/_a9e03805-694a-4ee7-8f17-b7830a16b07d.jpeg" alt="Logo" class="logo-img" (click)="irHome()">
      </div>
      <ul class="nav-list">
        <li *ngIf="user || worker" (click)="irCategoriaFlores()">Flores</li>
        <li *ngIf="user || worker" (click)="irCategoriaPlantas()">Plantas</li>
        <li *ngIf="user || worker" (click)="irCategoriaRamos()">Ramos</li>
        <li *ngIf="admin" (click)="irUsuario()">Usuarios</li>
        <li *ngIf="admin" (click)="irPedidos()">Pedidos</li>
      </ul>
      <div class="nav-buttons">
        <div class="nav-user">
          <mat-icon style="color: black;">group</mat-icon> 
          <span class="username">{{ firstname }}</span>
        </div>
        <button *ngIf="user" mat-button (click)="irCarrito()">
          <mat-icon>shopping_cart</mat-icon>
          Carrito
        </button>
        <button *ngIf="user || worker || admin" mat-button (click)="logout()">Logout</button>
      </div>
    </nav>

    <div class="card" *ngIf="!role()">
      <div class="card-header">
        <h2 class="header-title">Flores</h2>
        <button (click)="addFlor()" class="add-button">
          Añadir Producto
        </button>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ID Producto</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let producto of productos">
                <td>{{producto.id_producto}}</td>
                <td>{{producto.nombre}}</td>
                <td>{{producto.descripcion}}</td>
                <td>{{producto.precio}}</td>
                <td>{{producto.stock}}</td>
                <td>
                  <button mat-icon-button (click)="editFlor(producto)">
                    <mat-icon style="color: black; background-color: #F5C518;">mode_edit</mat-icon>
                  </button>
                  <button mat-icon-button (click)="deleteFlor(producto)">
                    <mat-icon style="color: black; background-color: #F5C518;">delete</mat-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="container" *ngIf="role()">
      <div class="product-cards">
        <producto-card *ngFor="let producto of productos" [routerLink]="['/flores', producto.id_producto]" [producto]="producto"></producto-card>
      </div>
    </div>
  </div>
  <footer class="footer">
    <p>&copy; 2024 FloriPaco. Todos los derechos reservados.</p>
  </footer>
</body>