<body>
  <div class="container">
    <nav class="navbar">
      <div class="logo">
        <img src="../../assets/_a9e03805-694a-4ee7-8f17-b7830a16b07d.jpeg" alt="Logo" class="logo-img" (click)="irHome()">
      </div>
      <ul class="nav-list">
        <li *ngIf="user || worker" (click)="irCategoriaFlores()">Flores</li>
        <li *ngIf="user || worker" (click)="irCategoriaPlantas()">Plantas</li>
        <li *ngIf="user || worker" (click)="irCategoriaRamos()">Ramos</li>
        <li *ngIf="admin" (click)="irUsuario()">Usuarios</li>
        <li *ngIf="admin" (click)="irPedidos()">Pedidos</li>
      </ul>
      <div class="nav-buttons">
        <div class="nav-user">
          <mat-icon style="color: black;">group</mat-icon> 
          <span class="username">{{ firstname }}</span>
        </div>
        <button *ngIf="user" mat-button (click)="irCarrito()">
          <mat-icon>shopping_cart</mat-icon>
          Carrito
        </button>
        <button *ngIf="user || worker || admin" mat-button (click)="logout()">Logout</button>
      </div>
    </nav>

    <div class="card">
      <div class="card-header">
        <h2 class="header-title">Pedidos</h2>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ID Pedido</th>
                <th>ID Cliente</th>
                <th>Total</th>
                <th>Fecha</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pedido of pedidos">
                <td>{{pedido.id_pedido}}</td>
                <td>{{pedido.cliente.id_cliente}}</td>
                <td>{{pedido.total}}</td>
                <td>{{pedido.fecha}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <p>&copy; 2024 FloriPaco. Todos los derechos reservados.</p>
  </footer>
</body>
