<body>
  <div class="container">
    <nav class="navbar">
      <div class="logo">
        <img src="../../assets/_a9e03805-694a-4ee7-8f17-b7830a16b07d.jpeg" alt="Logo" class="logo-img" (click)="irHome()">
      </div>
      <ul class="nav-list">
        <li *ngIf="user || worker" (click)="irCategoriaFlores()">Flores</li>
        <li *ngIf="user || worker" (click)="irCategoriaPlantas()">Plantas</li>
        <li *ngIf="user || worker" (click)="irCategoriaRamos()">Ramos</li>
        <li *ngIf="admin" (click)="irUsuario()">Usuarios</li>
        <li *ngIf="admin" (click)="irPedidos()">Pedidos</li>
      </ul>
      <div class="nav-buttons">
        <button *ngIf="user" mat-button (click)="irCarrito()">
          <mat-icon>shopping_cart</mat-icon>
          Carrito
        </button>
        <button *ngIf="user || worker || admin" mat-button (click)="logout()">Logout</button>
      </div>
    </nav>

    <div class="card">
      <div class="card-header">
        <h2 class="header-title">Usuarios</h2>
        <button (click)="addUsuario()" class="add-button">
          Añadir Usuario
        </button>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ID Usuario</th>
                <th>Username</th>
                <th>Firstname</th>
                <th>Rol</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuarios">
                <td>{{usuario.id}}</td>
                <td>{{usuario.username}}</td>
                <td>{{usuario.firstname}}</td>
                <td>{{usuario.role}}</td>
                <td>
                  <button mat-icon-button (click)="editUsuario(usuario)">
                    <mat-icon style="color: black; background-color: #F5C518;">mode_edit</mat-icon>
                  </button>
                  <button mat-icon-button (click)="deleteUsuario(usuario)">
                    <mat-icon style="color: black; background-color: #F5C518;">delete</mat-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <p>&copy; 2024 FloriPaco. Todos los derechos reservados.</p>
  </footer>
</body>
